:root {
  /* Font Color */
  --font-white: #ffffff;
  --font-purple: hsl(273, 85%, 13%);
  /* Background Color */
  --bg-dark-purple: hsl(273, 85%, 13%);
  --bg-light-pink: hsl(276, 100%, 99%);
  --bg-white: hsl(0, 0%, 100%);
  --bg-green: hsl(150, 100%, 63%);
  /* Typography */
  --h1-size: 80px;
  --h2-size: 56px;
  --h3-size: 32px;
  --p-size: 18px;
}

/* Utility Classes */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Manrope', sans-serif;
}

h1 {
  font-family: "Fraunces", sans-serif;
  font-size: var(--h1-size);
  font-weight: 600;
  line-height: 80px;
  color: white;
}

h2 {
  font-family: "Fraunces", sans-serif;
  font-size: var(--h2-size);
  font-weight: 600;
  line-height: 64px;
  color: var(--font-purple);
}

p {
  font-family: "Manrope", sans-serif;
  font-size: var(--p-size);
  font-weight: 400;
  line-height: 32px;
  color: var(--font-purple);
}

a {
    text-decoration: none;
}

h1 > span {
    border-bottom: 1px solid var(--bg-green);
}

.button {
    width: 161px;
    height: 61px;
    background-color: var(--bg-green);
    border: none;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Manrope', sans-serif;
}


/* Hero Section */

.hero-section {
    background-color: var(--bg-dark-purple);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* position: absolute; */
    border-bottom-left-radius: 100% 20%;
    border-bottom-right-radius: 100% 20%;
}

.hero-section h1 {
    width: 635px;
    padding-bottom: 37px;
}

.hero-section .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 56px 165px;
    width: 100%;
}

.hero-section .top a {
    color: white;
    font-family: 'Manrope', sans-serif;
    padding-bottom: 3px;
    border-bottom: 2px solid var(--bg-green);
}

.hero-section > button {
    margin-bottom: 326px;
}

/* Image */

.phone-container {
    background-color: var(--bg-light-pink);
    border-top-left-radius: -100% -100%; 
    border-top-right-radius: ;
}

.phone {
    display: flex;
    position: relative;
    width: 715px;
    height: 427px;
    top: -250px;
    right: -400px;
}


/* Information Section */

.information {
    background-color: var(--bg-light-pink);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 162px 171px 162px;
    gap: 26px;
    border-bottom-left-radius: 100% 20%;
    border-bottom-right-radius: 100% 20%;

}

.information span {
    font-size: 24px;
}

.circle {
    border-radius: 50%;
    border: 1px solid black;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 56px;
}

.information h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    padding-bottom: 28px;
}

.insights, .decisions, .affordable p {
    width: 346px;
}

/* CTA Section */

.call-to-action {
    display: flex;
    color: white;
    padding-left: 250px;
    position: absolute;
    padding-top: 250px;
}

.image-cta img {
    width: 477px;
    height: 477px;
    position: relative;
    left: 75px;
    bottom: 180px;
    z-index: -1;
}

.cta-section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--bg-dark-purple);
    width: 730px;
    height: 413px;
    flex-shrink: 0;
    gap: 32px;
    padding-left: 64px;
    
}

.cta-section p {
    font-size: 18px;
    color: white;
    width: 602px;
}

.cta-section h2 {
    color: white;
    padding-top: 64px;
}

